# Kconfig - STM32 Nucleo-64 development board with STM32F030R8 MCU configuration
#
# Copyright (c) 2017 RnDity Sp. z o.o.
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_CAR_PARK_LOCK
	bool "NUCLEO-64 F030R8 Development Board"
	depends on SOC_STM32F030X8
