# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM=y
CONFIG_BOARD_STM32F407_DTU=y
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F407XG=y
# 168MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000
CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000

CONFIG_BUILD_OUTPUT_HEX=y

# Enable MPU
CONFIG_ARM_MPU=y

CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_LOG_STRDUP_BUF_COUNT=10
CONFIG_LOG_STRDUP_MAX_STRING=64
# enable pinmux
CONFIG_PINMUX=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_CLOCK_CONTROL=y
# CONFIG_CLOCK_CONTROL_QUARK_SE is not set
CONFIG_CLOCK_CONTROL_STM32_CUBE=y
CONFIG_CLOCK_CONTROL_STM32_DEVICE_INIT_PRIORITY=1
# CONFIG_CLOCK_STM32_SYSCLK_SRC_HSE is not set
# CONFIG_CLOCK_STM32_SYSCLK_SRC_HSI is not set
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
CONFIG_CLOCK_STM32_PLL_SRC_HSI=y
# CONFIG_CLOCK_STM32_PLL_SRC_HSE is not set
CONFIG_CLOCK_STM32_PLL_M_DIVISOR=8
CONFIG_CLOCK_STM32_PLL_N_MULTIPLIER=336
CONFIG_CLOCK_STM32_PLL_P_DIVISOR=4
CONFIG_CLOCK_STM32_PLL_Q_DIVISOR=7
CONFIG_CLOCK_STM32_AHB_PRESCALER=1
CONFIG_CLOCK_STM32_APB1_PRESCALER=1
CONFIG_CLOCK_STM32_APB2_PRESCALER=2
# CONFIG_CLOCK_STM32_MCO1_SRC_NOCLOCK is not set
# CONFIG_CLOCK_STM32_MCO1_SRC_LSE is not set
# CONFIG_CLOCK_STM32_MCO1_SRC_HSE is not set
CONFIG_CLOCK_STM32_MCO1_SRC_HSI=y
# CONFIG_CLOCK_STM32_MCO1_SRC_PLLCLK is not set
CONFIG_CLOCK_STM32_MCO1_DIV=1
# CONFIG_CLOCK_STM32_MCO2_SRC_NOCLOCK is not set
CONFIG_CLOCK_STM32_MCO2_SRC_SYSCLK=y
# CONFIG_CLOCK_STM32_MCO2_SRC_PLLI2S is not set
# CONFIG_CLOCK_STM32_MCO2_SRC_HSE is not set
# CONFIG_CLOCK_STM32_MCO2_SRC_PLLCLK is not set
CONFIG_CLOCK_STM32_MCO2_DIV=1
# CONFIG_PTP_CLOCK is not set

#
# Ethernet Drivers
#
# CONFIG_ETHERNET_LOG_LEVEL_OFF is not set
# CONFIG_ETHERNET_LOG_LEVEL_ERR is not set
# CONFIG_ETHERNET_LOG_LEVEL_WRN is not set
# CONFIG_ETHERNET_LOG_LEVEL_INF is not set
# CONFIG_ETHERNET_LOG_LEVEL_DBG is not set
CONFIG_ETHERNET_LOG_LEVEL_DEFAULT=y
CONFIG_ETHERNET_LOG_LEVEL=3
CONFIG_ETH_INIT_PRIORITY=80
# CONFIG_ETH_DW is not set
CONFIG_ETH_STM32_HAL=y
CONFIG_ETH_STM32_HAL_NAME="ETH_0"
CONFIG_ETH_STM32_HAL_IRQ_PRI=0
CONFIG_ETH_STM32_HAL_RX_THREAD_STACK_SIZE=1500
CONFIG_ETH_STM32_HAL_RX_THREAD_PRIO=2
CONFIG_ETH_STM32_HAL_PHY_ADDRESS=0
CONFIG_ETH_STM32_HAL_RANDOM_MAC=y
# CONFIG_ETH_STM32_HAL_MII is not set
# CONFIG_ETH_SMSC911X is not set
# CONFIG_ETH_STELLARIS is not set
# CONFIG_SLIP is not set
# CONFIG_NET_LOOPBACK is not set

#
# Networking
#
CONFIG_NET_BUF=y
CONFIG_NET_BUF_USER_DATA_SIZE=4
# CONFIG_NET_BUF_LOG is not set
# CONFIG_NET_BUF_LOG_LEVEL_OFF is not set
# CONFIG_NET_BUF_LOG_LEVEL_ERR is not set
# CONFIG_NET_BUF_LOG_LEVEL_WRN is not set
CONFIG_NET_BUF_LOG_LEVEL_INF=y
# CONFIG_NET_BUF_LOG_LEVEL_DBG is not set
CONFIG_NET_BUF_LOG_LEVEL=3
# CONFIG_NET_BUF_POOL_USAGE is not set
CONFIG_NETWORKING=y
# CONFIG_NET_HOSTNAME_ENABLE is not set

#
# Link layer options
#
# CONFIG_NET_L2_DUMMY is not set
# CONFIG_NET_L2_BT_SHELL is not set
CONFIG_NET_L2_ETHERNET=y
# CONFIG_NET_L2_ETHERNET_LOG_LEVEL_OFF is not set
# CONFIG_NET_L2_ETHERNET_LOG_LEVEL_ERR is not set
# CONFIG_NET_L2_ETHERNET_LOG_LEVEL_WRN is not set
# CONFIG_NET_L2_ETHERNET_LOG_LEVEL_INF is not set
# CONFIG_NET_L2_ETHERNET_LOG_LEVEL_DBG is not set
CONFIG_NET_L2_ETHERNET_LOG_LEVEL_DEFAULT=y
CONFIG_NET_L2_ETHERNET_LOG_LEVEL=3
# CONFIG_NET_L2_ETHERNET_MGMT is not set
# CONFIG_NET_VLAN is not set
CONFIG_NET_ARP=y
CONFIG_NET_ARP_TABLE_SIZE=2
CONFIG_NET_ARP_GRATUITOUS=y

# CONFIG_NET_ARP_LOG_LEVEL_OFF is not set
# CONFIG_NET_ARP_LOG_LEVEL_ERR is not set
# CONFIG_NET_ARP_LOG_LEVEL_WRN is not set
# CONFIG_NET_ARP_LOG_LEVEL_INF is not set
# CONFIG_NET_ARP_LOG_LEVEL_DBG is not set
CONFIG_NET_ARP_LOG_LEVEL_DEFAULT=y
CONFIG_NET_ARP_LOG_LEVEL=3
# CONFIG_NET_GPTP is not set

#
# Link Layer Discovery Protocol (LLDP) options
#
# CONFIG_NET_LLDP is not set
# CONFIG_NET_LLDP_LOG_LEVEL_OFF is not set
# CONFIG_NET_LLDP_LOG_LEVEL_ERR is not set
# CONFIG_NET_LLDP_LOG_LEVEL_WRN is not set
# CONFIG_NET_LLDP_LOG_LEVEL_INF is not set
# CONFIG_NET_LLDP_LOG_LEVEL_DBG is not set
CONFIG_NET_LLDP_LOG_LEVEL_DEFAULT=y
CONFIG_NET_LLDP_LOG_LEVEL=3
CONFIG_NET_LLDP_CHASSIS_ID="CHASSIS_ID_PLACEHOLDER"
CONFIG_NET_LLDP_PORT_ID="PORT_ID_PLACEHOLDER"
# CONFIG_NET_L2_WIFI_MGMT is not set
# CONFIG_NET_L2_WIFI_SHELL is not set
# CONFIG_NET_L2_CANBUS is not set

#
# IP stack
#
CONFIG_NET_INIT_PRIO=90
CONFIG_NET_IPV6=y
CONFIG_NET_IF_MAX_IPV6_COUNT=1
CONFIG_NET_IF_UNICAST_IPV6_ADDR_COUNT=3
CONFIG_NET_IF_MCAST_IPV6_ADDR_COUNT=5
CONFIG_NET_IF_IPV6_PREFIX_COUNT=2
CONFIG_NET_INITIAL_HOP_LIMIT=64
CONFIG_NET_IPV6_MAX_NEIGHBORS=8
# CONFIG_NET_IPV6_FRAGMENT is not set
CONFIG_NET_IPV6_MLD=y
CONFIG_NET_IPV6_NBR_CACHE=y
CONFIG_NET_IPV6_ND=y
CONFIG_NET_IPV6_DAD=y
CONFIG_NET_IPV6_RA_RDNSS=y
# CONFIG_NET_6LO is not set
# CONFIG_NET_IPV6_LOG_LEVEL_OFF is not set
# CONFIG_NET_IPV6_LOG_LEVEL_ERR is not set
# CONFIG_NET_IPV6_LOG_LEVEL_WRN is not set
# CONFIG_NET_IPV6_LOG_LEVEL_INF is not set
# CONFIG_NET_IPV6_LOG_LEVEL_DBG is not set
CONFIG_NET_IPV6_LOG_LEVEL_DEFAULT=y
CONFIG_NET_IPV6_LOG_LEVEL=3
# CONFIG_NET_ICMPV6_LOG_LEVEL_OFF is not set
# CONFIG_NET_ICMPV6_LOG_LEVEL_ERR is not set
# CONFIG_NET_ICMPV6_LOG_LEVEL_WRN is not set
# CONFIG_NET_ICMPV6_LOG_LEVEL_INF is not set
# CONFIG_NET_ICMPV6_LOG_LEVEL_DBG is not set
CONFIG_NET_ICMPV6_LOG_LEVEL_DEFAULT=y
CONFIG_NET_ICMPV6_LOG_LEVEL=3
# CONFIG_NET_IPV6_NBR_CACHE_LOG_LEVEL_OFF is not set
# CONFIG_NET_IPV6_NBR_CACHE_LOG_LEVEL_ERR is not set
# CONFIG_NET_IPV6_NBR_CACHE_LOG_LEVEL_WRN is not set
# CONFIG_NET_IPV6_NBR_CACHE_LOG_LEVEL_INF is not set
# CONFIG_NET_IPV6_NBR_CACHE_LOG_LEVEL_DBG is not set

CONFIG_NET_IPV6_NBR_CACHE_LOG_LEVEL_DEFAULT=y
CONFIG_NET_IPV6_NBR_CACHE_LOG_LEVEL=3
CONFIG_NET_IPV4=y
CONFIG_NET_INITIAL_TTL=64
CONFIG_NET_IF_MAX_IPV4_COUNT=1
CONFIG_NET_IF_UNICAST_IPV4_ADDR_COUNT=1
CONFIG_NET_IF_MCAST_IPV4_ADDR_COUNT=1
# CONFIG_NET_ICMPV4_ACCEPT_BROADCAST is not set
CONFIG_NET_DHCPV4=y
CONFIG_NET_DHCPV4_INITIAL_DELAY_MAX=10
# CONFIG_NET_IPV4_AUTO is not set
# CONFIG_NET_IPV4_LOG_LEVEL_OFF is not set
# CONFIG_NET_IPV4_LOG_LEVEL_ERR is not set
# CONFIG_NET_IPV4_LOG_LEVEL_WRN is not set
# CONFIG_NET_IPV4_LOG_LEVEL_INF is not set
# CONFIG_NET_IPV4_LOG_LEVEL_DBG is not set
CONFIG_NET_IPV4_LOG_LEVEL_DEFAULT=y
CONFIG_NET_IPV4_LOG_LEVEL=3
# CONFIG_NET_ICMPV4_LOG_LEVEL_OFF is not set
# CONFIG_NET_ICMPV4_LOG_LEVEL_ERR is not set
# CONFIG_NET_ICMPV4_LOG_LEVEL_WRN is not set
# CONFIG_NET_ICMPV4_LOG_LEVEL_INF is not set
# CONFIG_NET_ICMPV4_LOG_LEVEL_DBG is not set
CONFIG_NET_ICMPV4_LOG_LEVEL_DEFAULT=y
CONFIG_NET_ICMPV4_LOG_LEVEL=3
# CONFIG_NET_DHCPV4_LOG_LEVEL_OFF is not set
# CONFIG_NET_DHCPV4_LOG_LEVEL_ERR is not set
# CONFIG_NET_DHCPV4_LOG_LEVEL_WRN is not set
# CONFIG_NET_DHCPV4_LOG_LEVEL_INF is not set
# CONFIG_NET_DHCPV4_LOG_LEVEL_DBG is not set
CONFIG_NET_DHCPV4_LOG_LEVEL_DEFAULT=y
CONFIG_NET_DHCPV4_LOG_LEVEL=3
CONFIG_NET_SHELL=y
CONFIG_NET_SHELL_DYN_CMD_COMPLETION=y
CONFIG_NET_TC_TX_COUNT=1
CONFIG_NET_TC_RX_COUNT=1
CONFIG_NET_TC_MAPPING_STRICT=y
CONFIG_NET_TX_DEFAULT_PRIORITY=1
CONFIG_NET_IP_ADDR_CHECK=y
CONFIG_NET_MAX_ROUTERS=2
CONFIG_NET_ROUTE=y
# CONFIG_NET_ROUTING is not set
CONFIG_NET_MAX_ROUTES=8
CONFIG_NET_MAX_NEXTHOPS=8
# CONFIG_NET_TCP is not set
CONFIG_NET_UDP=y
CONFIG_NET_UDP_CHECKSUM=y
# CONFIG_NET_UDP_LOG_LEVEL_OFF is not set
# CONFIG_NET_UDP_LOG_LEVEL_ERR is not set
# CONFIG_NET_UDP_LOG_LEVEL_WRN is not set
# CONFIG_NET_UDP_LOG_LEVEL_INF is not set
# CONFIG_NET_UDP_LOG_LEVEL_DBG is not set
CONFIG_NET_UDP_LOG_LEVEL_DEFAULT=y
CONFIG_NET_UDP_LOG_LEVEL=3
CONFIG_NET_MAX_CONN=8
# CONFIG_NET_CONN_CACHE is not set
CONFIG_NET_MAX_CONTEXTS=6
# CONFIG_NET_CONTEXT_NET_PKT_POOL is not set
CONFIG_NET_CONTEXT_SYNC_RECV=y
CONFIG_NET_CONTEXT_CHECK=y
# CONFIG_NET_CONTEXT_PRIORITY is not set
# CONFIG_NET_CONTEXT_TIMESTAMP is not set
# CONFIG_NET_TEST is not set
# CONFIG_NET_TRICKLE is not set
CONFIG_NET_PKT_RX_COUNT=4
CONFIG_NET_PKT_TX_COUNT=4
CONFIG_NET_BUF_RX_COUNT=16
CONFIG_NET_BUF_TX_COUNT=16
CONFIG_NET_BUF_FIXED_DATA_SIZE=y
# CONFIG_NET_BUF_VARIABLE_DATA_SIZE is not set
CONFIG_NET_BUF_DATA_SIZE=128
CONFIG_NET_DEFAULT_IF_FIRST=y
# CONFIG_NET_DEFAULT_IF_ETHERNET is not set
# CONFIG_NET_PKT_TIMESTAMP is not set
# CONFIG_NET_PROMISCUOUS_MODE is not set

#
# Stack usage
#
CONFIG_NET_TX_STACK_SIZE=1200
CONFIG_NET_RX_STACK_SIZE=1500
CONFIG_NET_MGMT=y
CONFIG_NET_MGMT_EVENT=y
CONFIG_NET_MGMT_EVENT_STACK_SIZE=768
CONFIG_NET_MGMT_EVENT_THREAD_PRIO=7
CONFIG_NET_MGMT_EVENT_QUEUE_SIZE=2
# CONFIG_NET_MGMT_EVENT_INFO is not set
# CONFIG_NET_MGMT_EVENT_LOG_LEVEL_OFF is not set
# CONFIG_NET_MGMT_EVENT_LOG_LEVEL_ERR is not set
# CONFIG_NET_MGMT_EVENT_LOG_LEVEL_WRN is not set
# CONFIG_NET_MGMT_EVENT_LOG_LEVEL_INF is not set
# CONFIG_NET_MGMT_EVENT_LOG_LEVEL_DBG is not set
CONFIG_NET_MGMT_EVENT_LOG_LEVEL_DEFAULT=y
CONFIG_NET_MGMT_EVENT_LOG_LEVEL=3
# CONFIG_NET_DEBUG_MGMT_EVENT_STACK is not set
# CONFIG_NET_STATISTICS is not set
# CONFIG_NET_OFFLOAD is not set
CONFIG_NET_LOG=y
# CONFIG_NET_PKT_LOG_LEVEL_OFF is not set
# CONFIG_NET_PKT_LOG_LEVEL_ERR is not set
# CONFIG_NET_PKT_LOG_LEVEL_WRN is not set
# CONFIG_NET_PKT_LOG_LEVEL_INF is not set
# CONFIG_NET_PKT_LOG_LEVEL_DBG is not set
CONFIG_NET_PKT_LOG_LEVEL_DEFAULT=y
CONFIG_NET_PKT_LOG_LEVEL=3
# CONFIG_NET_DEBUG_NET_PKT_ALLOC is not set
CONFIG_NET_DEBUG_NET_PKT_EXTERNALS=0
# CONFIG_NET_DEBUG_NET_PKT_NON_FRAGILE_ACCESS is not set
# CONFIG_NET_CORE_LOG_LEVEL_OFF is not set
# CONFIG_NET_CORE_LOG_LEVEL_ERR is not set
# CONFIG_NET_CORE_LOG_LEVEL_WRN is not set
# CONFIG_NET_CORE_LOG_LEVEL_INF is not set
# CONFIG_NET_CORE_LOG_LEVEL_DBG is not set
CONFIG_NET_CORE_LOG_LEVEL_DEFAULT=y
CONFIG_NET_CORE_LOG_LEVEL=3
# CONFIG_NET_IF_LOG_LEVEL_OFF is not set
# CONFIG_NET_IF_LOG_LEVEL_ERR is not set
# CONFIG_NET_IF_LOG_LEVEL_WRN is not set
# CONFIG_NET_IF_LOG_LEVEL_INF is not set
# CONFIG_NET_IF_LOG_LEVEL_DBG is not set
CONFIG_NET_IF_LOG_LEVEL_DEFAULT=y
CONFIG_NET_IF_LOG_LEVEL=3
# CONFIG_NET_TC_LOG_LEVEL_OFF is not set
# CONFIG_NET_TC_LOG_LEVEL_ERR is not set
# CONFIG_NET_TC_LOG_LEVEL_WRN is not set
# CONFIG_NET_TC_LOG_LEVEL_INF is not set
# CONFIG_NET_TC_LOG_LEVEL_DBG is not set
CONFIG_NET_TC_LOG_LEVEL_DEFAULT=y
CONFIG_NET_TC_LOG_LEVEL=3
# CONFIG_NET_UTILS_LOG_LEVEL_OFF is not set
# CONFIG_NET_UTILS_LOG_LEVEL_ERR is not set
# CONFIG_NET_UTILS_LOG_LEVEL_WRN is not set
# CONFIG_NET_UTILS_LOG_LEVEL_INF is not set
# CONFIG_NET_UTILS_LOG_LEVEL_DBG is not set
CONFIG_NET_UTILS_LOG_LEVEL_DEFAULT=y
CONFIG_NET_UTILS_LOG_LEVEL=3
# CONFIG_NET_CONTEXT_LOG_LEVEL_OFF is not set
# CONFIG_NET_CONTEXT_LOG_LEVEL_ERR is not set
# CONFIG_NET_CONTEXT_LOG_LEVEL_WRN is not set
# CONFIG_NET_CONTEXT_LOG_LEVEL_INF is not set
# CONFIG_NET_CONTEXT_LOG_LEVEL_DBG is not set
CONFIG_NET_CONTEXT_LOG_LEVEL_DEFAULT=y
CONFIG_NET_CONTEXT_LOG_LEVEL=3
# CONFIG_NET_CONN_LOG_LEVEL_OFF is not set
# CONFIG_NET_CONN_LOG_LEVEL_ERR is not set
# CONFIG_NET_CONN_LOG_LEVEL_WRN is not set
# CONFIG_NET_CONN_LOG_LEVEL_INF is not set
# CONFIG_NET_CONN_LOG_LEVEL_DBG is not set
CONFIG_NET_CONN_LOG_LEVEL_DEFAULT=y
CONFIG_NET_CONN_LOG_LEVEL=3
# CONFIG_NET_ROUTE_LOG_LEVEL_OFF is not set
# CONFIG_NET_ROUTE_LOG_LEVEL_ERR is not set
# CONFIG_NET_ROUTE_LOG_LEVEL_WRN is not set
# CONFIG_NET_ROUTE_LOG_LEVEL_INF is not set
# CONFIG_NET_ROUTE_LOG_LEVEL_DBG is not set
CONFIG_NET_ROUTE_LOG_LEVEL_DEFAULT=y
CONFIG_NET_ROUTE_LOG_LEVEL=3

#
# Network Protocols
#
# CONFIG_COAP is not set
CONFIG_DNS_RESOLVER=y
CONFIG_MDNS_RESOLVER=y
# CONFIG_LLMNR_RESOLVER is not set
CONFIG_DNS_RESOLVER_ADDITIONAL_BUF_CTR=5
CONFIG_DNS_RESOLVER_ADDITIONAL_QUERIES=2
CONFIG_DNS_RESOLVER_MAX_SERVERS=2
CONFIG_DNS_SERVER_IP_ADDRESSES=y
CONFIG_DNS_SERVER1="[2001:db8::2]:15353"
CONFIG_DNS_SERVER2="192.0.2.2:15353"
CONFIG_DNS_SERVER3=""
CONFIG_DNS_SERVER4=""
CONFIG_DNS_SERVER5=""
CONFIG_DNS_NUM_CONCUR_QUERIES=5
# CONFIG_DNS_RESOLVER_LOG_LEVEL_OFF is not set
# CONFIG_DNS_RESOLVER_LOG_LEVEL_ERR is not set
# CONFIG_DNS_RESOLVER_LOG_LEVEL_WRN is not set
# CONFIG_DNS_RESOLVER_LOG_LEVEL_INF is not set
# CONFIG_DNS_RESOLVER_LOG_LEVEL_DBG is not set
CONFIG_DNS_RESOLVER_LOG_LEVEL_DEFAULT=y
CONFIG_DNS_RESOLVER_LOG_LEVEL=3
# CONFIG_MQTT_LIB is not set
# CONFIG_HTTP_PARSER is not set
# CONFIG_HTTP_PARSER_URL is not set
# CONFIG_LWM2M is not set
# CONFIG_SOCKS is not set
# CONFIG_SNTP is not set
#
# Network Libraries
#
CONFIG_NET_CONFIG_AUTO_INIT=y
CONFIG_NET_CONFIG_INIT_PRIO=95
CONFIG_NET_CONFIG_INIT_TIMEOUT=30
CONFIG_NET_CONFIG_NEED_IPV6=y
# CONFIG_NET_CONFIG_NEED_IPV6_ROUTER is not set
CONFIG_NET_CONFIG_NEED_IPV4=y
# CONFIG_NET_CONFIG_LOG_LEVEL_OFF is not set
# CONFIG_NET_CONFIG_LOG_LEVEL_ERR is not set
# CONFIG_NET_CONFIG_LOG_LEVEL_WRN is not set
# CONFIG_NET_CONFIG_LOG_LEVEL_INF is not set
# CONFIG_NET_CONFIG_LOG_LEVEL_DBG is not set
CONFIG_NET_CONFIG_LOG_LEVEL_DEFAULT=y
CONFIG_NET_CONFIG_LOG_LEVEL=3
CONFIG_NET_CONFIG_SETTINGS=y
CONFIG_NET_CONFIG_MY_IPV6_ADDR="2001:db8::1"
CONFIG_NET_CONFIG_PEER_IPV6_ADDR="2001:db8::2"
CONFIG_NET_CONFIG_MY_IPV4_ADDR="192.0.2.1"
CONFIG_NET_CONFIG_MY_IPV4_NETMASK="255.255.255.0"
CONFIG_NET_CONFIG_MY_IPV4_GW=""
CONFIG_NET_CONFIG_PEER_IPV4_ADDR="192.0.2.2"
# CONFIG_NET_SOCKETS is not set
# CONFIG_TLS_CREDENTIALS is not set

#enable pwm
# CONFIG_PWM=y
